
/*{ 
	--green: #8cc540;
	--orange: #f36321;
	--blue: #00abd4;
	--hotpink: #ee145c;
	--purple: #c53a94;
	--purplish-brown: #312f30;
	--heather-gray: #4c4c4e;
	--charcoal-grey: #404041;
	--light-gray: #eeefef;
	--silver: #d3d4d6;
	font-family: 'Open Sans', sans-serif;
	font-family: Trash-Hands;
}*/

$color-med: #ee145c; /*hotpink*/
$color-uk: #00abd4; /*blue*/
$color-south: #f36321; /*orange*/
$color-east: #8cc540; /*green*/
$color-car: #c53a94; /*purple*/
$color-nav: #404041; /*charcoal-grey*/
$color-silver: #d3d4d6; /*silver*/
$color-footer: #312f30; /*purple-brown*/

$color-footer-heading: white;
$color-facebook: #4267b2;
$color-twitter: #1DA1F2;

@font-face {
  font-family: TrashHand;
  src: url('fonts/TrashHand-webfont.eot');
  src: url('fonts/TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/TrashHand-webfont.woff') format('woff'),
       url('fonts/TrashHand-webfont.ttf') format('truetype'),
       url('fonts/TrashHand-webfont.svg#trashhandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*****************************************
BACKGROUNDS
*****************************************/

.navbar {
	background-color: $color-nav;
}

.street-events {
	background-color: $color-uk;
}

.order-now {
	background-color: $color-south;
}

.our-menus {
	background-color: $color-car;
}

.menu-mediteranean {
	background-color: $color-med;
}

/*****************************************
TEXT STYLES
*****************************************/

.the-med {
	color: $color-med;
}

.the-uk {
	color: $color-uk;
}

.the-south {
	color: $color-south;
}

.the-east {
	color: $color-east;
}

.the-car {
	color: $color-car;
}

/*****************************************
EVENT PAGE
*****************************************/

div.event-date {
	background-color: $color-south;
	/*color: white;*/
}

.card-title>p {
	color: white;
	background-color: $color-south;
}

h5.card-title {
	color: #404041;
	/*background-color: white;*/
}

.twitter-card {
	h5{
		color: white;
		background-color: $color-twitter;
	}
}

/*.mapit-btn {
	background-color: $color-south;
	color: white;
}*/

/*****************************************
OTHER - UNSORTED
*****************************************/

#footer {
	background-color: $color-footer;
	p {
		color: $color-silver;
	}
	a {
		color: $color-silver;
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}
}

.btn {
	color: white;
	background-color: $color-nav;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

panel {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	color: white;
	img {
		float: right;
	}
}



















