/*****************************************
General
*****************************************/

.trash-hands {
	font-family: TrashHand;
	font-size: 4em;
}

.main-menus {
	background-image: url('../assets/images/patternDarkGray.jpg');
	margin-top: 3px;
		panel {
		padding: 10px;
		margin: 10px;
		text-transform: uppercase;
		font-weight: bold;
		&:first-child{
			margin-top: 50px;
		}
		&:last-child {
			margin-bottom: 50px;
		}
	}
}

.main-content {
	div {
		margin: 20px;
		div {
			float: left;
		}
	}
}

.main-title {
	text-transform: capitalize;
	text-align: center;
	margin: 30px auto;
}

.truck {
	display: inline-block;
}
