/*****************************************
General
*****************************************/

.trash-hands {
	font-family: TrashHand;
	font-size: 4.5em;
}

.main-menus {
	background-image: url('../assets/images/patternDarkGray.jpg');
	margin-top: 3px;
		panel {
		padding: 20px;
		margin: 10px;
		text-transform: uppercase;
		font-weight: bold;
		&:first-child{
			margin-top: 50px;
		}
		&:last-child {
			margin-bottom: 50px;
		}

		a {
			color: white;
		}
	}
}

.btn {
	border-radius: 0;
}

/*****************************************
SVG ICON STYLES
*****************************************/

.svg-icon {
	padding-left: 10px;
	padding-right: 5px;
} 

.fb-logo {
	display: inline-block;
	background-color: $color-facebook;
	padding: 12px 20px 8px 20px;
	border-radius: 50%;
}

.twitter-logo {
	display: inline-block;
	background-color: $color-twitter;
	padding: 15px 13px;
	border-radius: 50%;
}

/*****************************************
MENU STYLES -- MAIN PAGE --
*****************************************/

.menu-heading {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.5em;
}

.menu-description {
	font-weight: 300;
	font-size: 1.3em;
}

.main-content {
	div {
		margin: 20px;
		div {
			float: left;
		}
	}
}

.main-title {
	text-transform: capitalize;
	text-align: center;
	margin: 30px auto;
}

.truck {
	display: inline-block;
	max-height: 100px;
}

#view {
	font-size: 24px;
	font-weight: 200;
	&:hover {
		text-decoration: underline;
		color: $color-med;
	}
}

/*****************************************
MENU STYLES -- MENU PAGE --
*****************************************/

.main-menus-page {
	.card {
		margin: 25px 10px;
		color: black;
	}
	.card-header {
		color: white;
	}
}

.card-body {
	border-style: solid;
	border-color: $color-silver;
	border-width: 2px;
	border-top: 0px;
	h5 {
		text-transform: capitalize;
	} 
}

.price {
	font-size: 2.75em;
}

input {
	border-style: none;
}

.plus-button {
	background-color: $color-med;
	border-radius: 50%;
}
.minus-button {
	background-color: $color-nav;
	border-radius: 50%;
}

#quantity {
	background-color: $color-silver;
	padding: 10px 0px 10px 10px;
}

/*****************************************
Footer
*****************************************/

.footer-title {
	text-transform: capitalize;
	color: $color-footer-heading;
}

#footer {
	padding-top: 40px;
	padding-bottom: 80px;
}

















