/*****************************************
GENERAL
*****************************************/

.panel {
	border-radius: 0px;
}

.event-list {
	background-image: url("../assets/images/patternGray.jpg");
	background-size: 75% auto;
	padding-bottom: 10px;
}

button.social {
	padding: 10px 12px;
	font-size: .6em;
	margin: 6px;
	width: 75px;
	
	/*float: right;*/
	display: inline-block;
	
}

.title {
	text-transform: uppercase;
}

/*****************************************
FONTS & COLOUR
*****************************************/

article.event {
	padding-bottom: 10px;
	margin-bottom: 15px;
	background-color: white;
	border-color: #C6C7C7; /*light-gray*/
	border-style: solid;
	border-width: 2px;
	box-shadow: -6px 6px 1px #C6C7C7; /*light-gray*/
}

div.event{
	/*border-right-color: white;
	border-left-color: white;
	border-top-color: white;*/
	/*border-bottom-color: #C6C7C7;*/ /*light-gray*/
	/*border-style: solid;*/
	border-width: 2px; 
}

/*****************************************

*****************************************/



/*****************************************
COLORS
*****************************************/

/*{ 
	--green: #8cc540;
	--orange: #f36321;
	--blue: #00abd4;
	--hotpink: #ee145c;
	--purple: #c53a94;
	--purplish-brown: #312f30;
	--heather-gray: #4c4c4e;
	--charcoal-grey: #404041;
	--light-gray: #eeefef;
	--silver: #d3d4d6;
	font-family: 'Open Sans', sans-serif;
	font-family: Trash-Hands;
}*/

div.event-date>h2 p {
	background-color: #f36321;
	color: #d3d4d6;
	text-align: center;
	margin: 0px;
	padding: 0px;
	width: auto;
}

.feed-heading {
	background-color: #00abd4; /*blue*/ 
	border-color: #00abd4;
	border-style: solid;
	box-shadow: -6px 6px 1px #00abd4;
}

.map-it {
	background-color: #f36321;
	color: #d3d4d6;
	border: none;
	float: right;
}

.share-it {
	background-color: #404041;
	color: #d3d4d6;
	border: none;
	float: right;
}

.follow {
	background-color: #00abd4;
	color: #d3d4d6;
	border: none;
	float: right;
}

