/*****************************************
GENERAL
*****************************************/



/*****************************************
NAV
*****************************************/



/*****************************************
FOOTER
*****************************************/



/*****************************************

*****************************************/



/*****************************************
FONTS & COLORS
*****************************************/

/*{ 
	--green: #8cc540;
	--orange: #f36321;
	--blue: #00abd4;
	--hotpink: #ee145c;
	--purple: #c53a94;
	--purplish-brown: #312f30;
	--heather-gray: #4c4c4e;
	--charcoal-grey: #404041;
	--light-gray: #eeefef;
	--silver: #d3d4d6;
}*/

.navbar-default {
	background-color: #4c4c4e;
}

.search-icon {
	width: 26px;
	height: 26px;
	background-color: #c53a94;
	border-radius: 50%;
	background-size: 100px px;
}

.cart-icon {
	width: 26px;
	height: 26px;
	background-color: #00abd4;
	border-radius: 50%;
	background-size: 100px px;
}

/*****************************************

*****************************************/