/** { border: 1px solid red !important; }*/

/*****************************************
GENERAL
*****************************************/

.main-heading {
	text-align: center;
}

.nav-section {
	background-image: url("../assets/images/patternDarkGray.jpg");
	background-size: 50% auto;
	font-size: 2rem;
	padding: 6px 5px;
}

.menu-menu {
	padding: 10px;
	margin: 25px 5px;
	font-weight: bold;
}

.glyphicon {
	float: right;
}

.glyphicon-menu-right {
	font-weight: 100px;
}

div.menu-select {
	padding: 3% 10px;
}

div.col-xs-8 {
	padding-left: 25px;
}

#map {
	/*min-height: 40vh;*/
	height: 400px;
  width: 100%;
}
/*
img {
	display: block;
	margin: 0 auto;
	padding: 20px 0 0 0;
}*/

img.menu-trucks {
	margin: 10px 0;
	padding: 110px 0;
	width: 100px;
	height: 100px;
}

footer {
	padding-top: 10px;
	display: block;
}

/*****************************************
NAV
*****************************************/

img.main-logo {
	padding-top: 10px;
	/*align-content: center;
	outline-offset:*/ 
}

nav {
	max-height: 5vh;
}

img.mobile-icons {
	/*margin: 0 auto;*/
}

div.navbar-header {
	margin-bottom: -28px;
}

button.navbar-toggle {
	float: left;
	margin: 7.5px auto 10px 10px;
	/*padding-right: 20px;*/
	border: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	border: none;
	border-radius: 0px;
	text-align: center;
}

.icon {
	position: relative;
}

.icons {
	display: inline-block;
	margin: auto;
	margin-top: 50%;
	/*margin-bottom: 50%;*/
	border-radius: 50%;
	padding: 5px;
}

.mobile-icons {
	float: right;
	display: inline-block;
	margin: auto;
	vertical-align: middle;
	margin-top: 15px;
	padding: 5px 10px;
}

/*****************************************
FOOTER
*****************************************/
.form-control {
	width: 25%;
	border-radius: 0;
	margin: 0;
}

button.btn-default.sub {
	/*float: right;*/
	color: white;
	vertical-align: top;
	font-size: 1em;
}

input{
	float: left;
}

/*****************************************

*****************************************/



/*****************************************
FONTS & COLORS
*****************************************/



@font-face {
  font-family: 'TrashHand';
  src: url('TrashHand-webfont.eot');
  src: url('TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
       url('TrashHand-webfont.woff2') format('woff2'),
       url('TrashHand-webfont.woff') format('woff'),
       url('TrashHand-webfont.ttf') format('truetype'),
       url('TrashHand-webfont.svg#trashhandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.trash-hands {
	font-family: 'TrashHand';
	font-size: 5rem;
}

.street-event,
.order-now,
.our-menu {
	font-family: 'Open Sans';
	color: white; /*silver*/ 
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	color: #404041; /*charcoal-grey*/
}

p {
	color: #4c4c4e; /*heather-gray:*/
}

/*navbar button lines*/
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

footer,
.navbar-default,
.navbar-form,
.navbar-collapse {
	background-color: #312f30; /*purplish-brown:*/ 
}

footer {
	color: #eeefef; /*light-gray*/
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
	height: 250px
}

.search-icon {
	background-color: #c53a94; /*purple*/ 
}

.cart-icon {
	background-color: #00abd4; /*blue*/
	/*overflow: visible;*/
}

.street-event {
	background-color: #00abd4; /*blue*/
}

.order-now {
	background-color: #f36321; /*orange*/
}

.our-menu {
	background-color: #c53a94; /*purple*/ 
}

.the-med>a {
	color: #ee145c; /*hotpink*/
}

.the-uk>a {
	color: #00abd4; /*blue*/
}

.the-south>a {
	color: #f36321; /*orange*/
}

.the-east>a {
	color: #8cc540; /*green*/
}

.the-car>a {
	color: #c53a94; /*purple*/ 
}


/*****************************************

*****************************************/