/*****************************************
GENERAL
*****************************************/

.main-heading {
	text-align: center;
}

.nav-section {
	background-image: url("../assets/images/patternDarkGray.jpg");
}

/*****************************************
NAV
*****************************************/

.main-logo {
	padding-top: 10px;
}

nav {
	max-height: 5vh;
}

.navbar-default {
	border: none;
	border-radius: 0px;
}

/*****************************************
FOOTER
*****************************************/



/*****************************************

*****************************************/



/*****************************************
FONTS & COLORS
*****************************************/

/*{ 
	--green: #8cc540;
	--orange: #f36321;
	--blue: #00abd4;
	--hotpink: #ee145c;
	--purple: #c53a94;
	--purplish-brown: #312f30;
	--heather-gray: #4c4c4e;
	--charcoal-grey: #404041;
	--light-gray: #eeefef;
	--silver: #d3d4d6;
	font-family: 'Open Sans', sans-serif;
	font-family: Trash-Hands;
}*/

.navbar-default {
	background-color: #4c4c4e;
}

.search-icon {
	display: inline-block;
	background-color: #c53a94;
	border-radius: 50%;
	padding: 5px;
}

.cart-icon {
	display: inline-block;
	background-color: #00abd4;
	border-radius: 50%;
	padding: 5px;
	overflow: visible;
}

body {
	background-color: black;
	color: #d3d4d6;
}

/*****************************************

*****************************************/